* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

main {
    background: #303030;
    width: 320px;
    border-radius: 16px;
    padding: 25px;
    gap: 10px;
    color: #ffffff;
}
/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.card {
    background: #303030;
    width: 320px;
    border-radius: 16px;
    padding: 25px;
    gap: 10px;
    color: #ffffff;
}

.encabezado h1 {
    font-size: 32px;
}

.encabezado p {
    color: #b3b3b3;
    font-size: 18px;
}

.superior {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.detalle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: start;
}

.estadistica {
    font-size: 14px;
    color: #30925a;
    display: flex;
    align-items: center;
}

.subtexto {
    font-size: 12px;
    color: #908d8d;
}

.estadistica::before {
    margin-right: 4px;
}
